/.env
/package-lock.json
/data/
/res/*
/.idea/
/.idea/**
/node_modules/
SirLootelot.iml
/loot.csv
/dist/
/electron/res/*.json
/electron/res/*.lua
/electron/res/ui/
/electron/node_modules/
/electron/dist/
/frontend/node_modules/
/a.txt
/electron/src/test.ts
/electron/config/
/electron/out/
/electron/scripts/*.exe
/electron/package-lock.json
*.tgz
/frontend/package-lock.json
